body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
    font-family: "Red Hat Display";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 400px;
    overflow: hidden;
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 25px;
}

.card-img {
    background-image: url(./images/illustration-hero.svg);
    background-size: cover;
    width: 400px;
    height: 200px;
}

.card-title {
    font-weight: 900;
    font-size: 1.5em;
}

.card-description {
    font-weight: 300;
    width: 80%;
    margin: 20px auto;
}

.price-plan {
    background-color: hsl(225, 100%, 98%);
    width: 70%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.price {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.price span {
    display: block;
    font-weight: 900;
}

.price::before{
    content: url(./images/icon-music.svg);
    margin-right: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="button"] {
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    margin: 5px 0;
    font-weight: 700;
    border: 0px;
}

.pay {
    background-color:  hsl(245, 75%, 52%);
    color: #fff;
    box-shadow: 1px 5px 5px grey;
}

.cancel {
    background-color: #fff;
    color: gray;
}